#div1{
    background-color: blue;
    border-radius: 220px;
    width: 300px;
}
#div2{
    background-color: green;
    border-radius: 220px;
    width: 300px;
}
#div3{
    background-color: yellow;
    border-radius: 220px;
    width: 300px;
}
#div4{
    background-color: red;
    border-radius: 220px;
    width: 300px;
}
#div5{
    background-color: purple;
    border-radius: 220px;
    width: 300px;
}
img{
    width: 70px;
    height: 70px;
}
#AAAAA{
    background-color: black;
    color: white;
}
.e22{
    margin-top: 5px;
    margin-bottom: 5px;
}